.g {
  color: white;
  font: 14px Arial;
}

.grid-20 {
  width: calc(20% - 15px);
}

.user-card {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}

.user-icon {
  height: 20vh;
  border-radius: 50%;
}

.user-details-primary {
  margin-top: 10.5%;
  color: white;
}

.user-details-secondary {
  margin-top: 12.0%;
  color: white;
}

.user-blog {
  color: #61dafb;
}

.return-button {
  margin-top: 7.0%;
}

.repo-dropdown {
  margin-top: 10.0%;
}

.dropdown-menu {
  height: 100px;
  overflow-y: scroll;
}
