.g {
  color: white;
  font: 14px Arial;
}

.grid-5 {
  width: calc(5% - 15px);
}

.vertical-line {
  border-left: 1px solid grey;
  height: calc(100% + 50px);
  margin-left: 20px;
  margin-right: 20px;
}
